<%- include('../partials/header') %>
<div class="container">
<table class="hiking-list">
    <thead>
        <tr>
            <th>Your Hiking Bucket</th>
        </tr>
    </thead>
    <tbody >
        <% hiking.forEach(function(hike) { %>
            <tr>
                <td><%= hike.trail%> </td>    
                <td><%=hike.location%> </td>    
                <td><%=hike.distance%> </td>    
                <td><%=hike.difficulty%> </td>    
                <td><a href="/outdoors/<%=hike._id%>">Details</a></td>
                <td>
                    <form action="/outdoors/<%= hike._id %>?_method=DELETE" method="post">
                        <button type="submit">Completed</button>
                    </form>
                </td>
            </tr>

            <% }) %>
    </tbody>
</table>

<table class="backpacking-list">
    <thead>
        <tr>
            <th>Your Backpacking Bucket</th>
        </tr>
    </thead>
    <tbody>
        <% backpacking.forEach(function(bpacking) { %> 
            <tr>
                <td><%=bpacking.trail%> </td>    
                <td><%=bpacking.location%> </td>    
                <td><%=bpacking.distance%> </td>    
                <td><%=bpacking.difficulty%> </td>    
                <td><a href="/outdoors/<%=bpacking._id%>">Details</a></td>
                <td>
                    <form action="/backpacking/<%= bpacking._id %>?_method=DELETE" method="post">
                        <button type="submit">Completed</button>
                    </form>
                </td>
            </tr>
         <% }) %>
    </tbody>
</table>
</div>









<%- include('../partials/footer') %>