<%- include('../partials/header') %>


<% if(backpacking === null){%>
    <section class="hiking-details">
        <p>Trail: <%= hiking.trail %></p>
        <p>Location: <%= hiking.location %></p>
        <p>Distance: <%= hiking.distance %></p>
        <p>Difficulty: <%= hiking.difficulty %></p>
        <a href="/outdoors/<%= hiking._id %>/edit">Edit</a>
    </section>
    
<% } else { %>
    <section class="backpacking-details">
        <p>Trail: <%= backpacking.trail %> </p>
        <p>Location: <%= backpacking.location %></p>
        <p>Distance: <%= backpacking.distance %></p>
        <p>Difficulty: <%= backpacking.difficulty %></p>
        <a href="/backpacking/<%= backpacking._id %>/edit">Edit</a>
    </section>
    
<% } %>


<%- include('../partials/footer') %>