<%- include('../partials/header') %>

<section class="hiking-comments">
    <div>Trail:</div>
    <div><%= hiking.trail %></div>
    <div>Location:</div>
    <div><%= hiking.location %></div>
    <div>Distance:</div>
    <div><%= hiking.distance %></div>
    <div>Difficulty:</div>
    <div><%= hiking.difficulty %></div>
</section>





<%- include('../partials/footer') %>